---
import { Detail } from "@navikt/ds-react/cjs/typography/Detail.js";
import { BodyShort } from "@navikt/ds-react/cjs/typography/BodyShort.js";
import ChevronRight from "./ChevronRight";
import { getLanguage } from "../../../language/language";
import style from "./InnloggedeTjensterSection.module.css";

const language = getLanguage(Astro.url);
const { liste, tittel } = Astro.props;
---

<div class={style.listeContainer}>
  <Detail className={style.listeTittel}>{tittel}</Detail>
  <ul class={style.liste}>
    {liste.map((link) => (
      <li class={style.link}>
        <ChevronRight />
        <BodyShort>
          <a href={link.url[language]} class={style.color}>
            {link[language]}
          </a>
        </BodyShort>
      </li>
    ))}
  </ul>
</div>
