---
import { Heading } from "@navikt/ds-react/cjs/typography/Heading.js";
import { BodyShort } from "@navikt/ds-react/cjs/typography/BodyShort.js";
import InnloggedeTjensterSection from "./InnloggedeTjensterSection";
import { hjelpemidlerLenker, jobbLenker, personopplysningLenker, annetLenker } from "./innloggedeTjenesterUrls";
import { text } from "./innloggedeTjenesterText";
import { getLanguage } from "../../language/language";
import styles from "./InnloggedeTjenester.module.css";

const language = getLanguage(Astro.url);
const isEnglish = language === "en";
---

<div class={styles.container}>
  <Heading level="2" size="small" className={styles.tittel}>{text.innloggedeTjenester[language]}</Heading>
  {isEnglish ?
    <BodyShort size="medium" className={styles.disclaimer}>
      {text.disclaimer[language]}
    </BodyShort> : null
  }
  <nav class={styles.sectionContainer}>
    <div class={styles.column}>
      <InnloggedeTjensterSection
        tittel={text.jobbOgOppfolging[language]}
        liste={jobbLenker}
        language={language}
      />
      <InnloggedeTjensterSection
        tittel={text.dinOversikt[language]}
        liste={hjelpemidlerLenker}
        language={language}
      />
    </div>
    <div class={styles.column}>
      <InnloggedeTjensterSection
        tittel={text.personopplysning[language]}
        liste={personopplysningLenker}
        language={language}
      />
      <InnloggedeTjensterSection
        tittel={text.annet[language]}
        liste={annetLenker}
        language={language} />
    </div>
  </nav>
</div>
